{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}


<a href="#" class="modal-trigger" data-modal="modal-name"><img width="30" height="30" src="{{ directory }}/assets/images/layout/images.png"></a> <!-- Trigger Modal. -->
<!-- Modal -->
<div class="modal" id="modal-name">
  <div class="modal-sandbox"></div>
  <div class="modal-box">
    <div class="modal-header">
      <div class="close-modal">&#10006;</div>
      <h1>Order reminder</h1>
      <p>This is smart order listener. We notice you have some products with low stock level.</p>
    </div>
    <div class="modal-body">
      <table class="smart-table">
          {#<caption><h4>Orders with low stock level </h4></caption>#}

        <tr class="header-table">
          <td></td>
          <td></td>
          <td>Stock status</td>
        </tr>
      {% for result in results %}

        <tr class="table-smart-line">
          <td>
            <a href="{{ result.item.link }}" class="smart-item-image">
              <img src="{{ result.item.image }}">
            </a>
          </td>
          <td>
            <a href="{{ result.item.link }}" class="smart-item-title">
              {{ result.item.title }}
            </a>
          </td>
          <td>
            <a href="{{ result.item.link }}" class="smart-item-stock">

              {{ result.item.stock }} left
            </a>
          </td>
        </tr>

      {% endfor %}
</table>

    </div>
  </div>
</div>

<!-- Aditional Styles -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
